@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .nav-items-container a {
        margin-top: 20px;
    }

    /* nav responsive ends */
    /* banner responsive starts */
    .banner-container {
        flex-direction: column;
    }

    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-text {
        text-align: center;
    }

    .banner-btn {
        margin-right: 0;
        margin-left: 20px;
    }

    /* banner section responsive ends here */
    /* online games section starts */
    .grid-container {
        grid-template-columns: 1fr;
    }

    /* play games section */
    .play-games-container {
        flex-direction: column;
    }

    .play-games-imgs,
    .play-games-text {
        width: 100%;
    }

    /* games name section starts */
    .games-name-container {
        margin-top: 20px;
    }

    .first-line-game {
        flex-direction: column;
    }

    .second-line-game {
        margin-top: -25px;
        flex-direction: column;
    }