* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.first-part {
    background-color: aliceblue;
}

.nav-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}

.nav-logo {

    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
    margin-left: 120px;
}

.logo-img {
    height: 30px;
    width: 50px;
}

.logo-text {
    font-weight: 700;
    font-size: 30px;
}

.color-txt {
    color: rgb(236, 1, 166);
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
}

.follow-part {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    padding: 0 5px;
}

.utube {
    height: 30px;
    width: 30px;
}


/* banner part start */
.banner-part-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-left {
    /* display: flex; */
    /* width: 400px;
    height: 350px; */
    /* text-align: center; */
    background-image: url("../images/Group\ 14.png");
}

.with-bg {
    /* background-image: url("../images/Group\ 14.png"); */
}

.banner-img {
    height: 450px;
    width: 450px;
}

.play-text {
    color: #0B0223;
    /* text-align: center; */
    font-size: 38px;
    font-style: normal;
    font-weight: 600;

    text-transform: uppercase;
}

.goat-text {
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-options {

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
    /* line-height: normal; */
    /* text-transform: lowercase; */
}

.banner-btn {
    margin-top: 10px;
}

.sign-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #F948B2;
    color: white;
    margin-right: 80px;
}

.go-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #4EC5F7;
    color: white;
}


/* play games part start */
.play-games-container {
    margin-top: 40px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}

.first-img {
    width: 500px;
    height: 500px;
}

.second-img {
    width: 318px;
    height: 365px;
    margin: 0px;
    position: relative;
    bottom: 200px;
    left: 320px;
}

.games-content {
    margin-top: -250px;
}

.games-content h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}









/* responsive part starts */

/* for mobile screen */
@media screen and (max-width:576px) {

    .nav-logo,
    .nav-container,
    .nav-items,
    .follow-part {
        flex-direction: column;
        margin-top: 10px;
    }

    .follow-part {
        justify-content: space-around;
    }

    .nav-logo {
        margin-left: 0;
    }
}